:root{
    --sidebar-color: #a855f7;
    --searchbar-color: #f3e8ff;
    --mainbackground-color: #6b21a8;
}

* {
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.container{
    display: grid;
    grid-template-columns: clamp(230px,20%,250px) minmax(500px,5fr);
    grid-template-rows: 0.8fr 5fr;
}

.sidebar {
    padding: 5px 30px;
    background-color: var(--sidebar-color);
    color: #faf5ff;
    grid-row: 1 / -1;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.menu div {
    display: flex;
    gap: 15px;
}

.dashboardTitle{
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.dashboardTitle svg {
    flex-shrink: 0;
}

.middleMenu,
.lowerMenu{
    display: flex;
    font-weight: 700;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


.header {
    display: grid;
    /* grid-template-columns: 4fr 2fr; */
    /* grid-template-columns: minmax(400px,800px) 2fr; */
    grid-template-columns: minmax(400px,800px) max(350px, 40%);
    gap: 1rem 0rem;
    background-color: #d8b4fe;
    padding: 15px 20px;
}

.search-container{
    display: flex;
    /* width: fit-content; */
    align-items: center;
}

.personalInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}
.profilePic{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

#smallUserName{
    font-size: 0.9rem;
}

.bigProfilePic{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.greetingInfo{
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

#hi {
    font-size: 0.8rem;
}

.actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action{
    background-color: var(--sidebar-color);
    border: none;
    font-weight: 500;
    color: #faf5ff;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
}

form {
    width: 90%;
}

#searchBar{
    /* background-color: rgb(191, 192, 192); */
    background-color: var(--searchbar-color);
    border: 0px solid transparent;
    font-weight: 500;
    border-radius: 1rem;
    margin-left: 10px;
    padding: 0.3rem 0.8rem;
    outline: none;
    /* width: 40rem; */
    width:100%;
}


main{
    position: relative;
    display: grid;
    grid-template-columns: 3fr minmax(300px,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 60px 20px;
    padding: 4rem 1rem;
    background-color: var(--searchbar-color);
    box-shadow: 0px 5px 10px 0px #a6a2aa inset;
}

#projectsSection{
    position: absolute;
    top:0.625rem; /* same as 10px*/
}

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(21.875rem, 1fr)); /*el que mejor sirve hasta ahora*/
    gap: 1.1rem;
    grid-row: 1 / 3;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #faf5ff;
    border-left: 8px solid #6b21a8;
    padding: 0.8rem 1rem 0.8rem 1rem;
    transition: border 0.3s ease;
    transition: background 0.4s ease;
}

.card:hover {
    background-image: linear-gradient(#faf5ff,#e8cbff);
    cursor: pointer;
    border-color: #faf5ff;
    box-shadow: 2px 5px 20px 2px #a6a2aa;

}

.card p{
    font-size: 0.9rem;
}

.iconHolder {
    margin-top: 1.5rem;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-self: flex-end;
}
.card,
.announcementContainer,
.trendingContainer {
    border-radius: 0.5rem;
    box-shadow: 2px 5px 10px 2px #a6a2aa;
}

.cardTitle {
    margin: 0px 0px 3px 0px;
}

.announcementContainer {
    background-color: #faf5ff;
}

.trendingContainer {
    background-color: #faf5ff;
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#announcementSection{
    position: absolute;
    top: 0.625rem;
}

#trendingSection{
    position: absolute;
    /* same as 3.125rem */
    top: -50px;
}

.announcements {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    /* white-space: nowrap;
    overflow: hidden; */
    text-overflow: ellipsis;
    /* justify-content: space-around; */
    height: max-content;
}

.announcement {
    border-bottom: 1px solid #a6a2aa;
    padding-bottom: 0.8rem;
    width: 100%;
}
.announcement p,
.announcement h3 {
    text-overflow: ellipsis;
    overflow: hidden;
}

.announcementTitle{
    font-size: 0.9em;
    margin: 5px 0px;
}

.announcement p{
    font-size: 0.8em;
}
/* 
.announcements p,
.trending p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */
.trending {
    padding: 1rem 2rem;
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-around;
}

.trendInfo {
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    gap: 0.8rem;
    border-radius: 1.5rem;
    transition: background 0.3s ease-out;
}

.trendInfo:hover,
button:hover,
svg:hover,
img:hover,
.announcement:hover {
    cursor: pointer;
}

input:hover {
    box-shadow: 2px 5px 20px 2px #a6a2aa;
}

.trendInfo:hover {
    background: #d8b4fe;
}

.trendInfo span{
    font-size: 0.8rem;
    color: #625f64;
}


